.header {
    background-color:$main-color;
    height: 12.5rem;
}

.menu {
        position: fixed;
        width: 100%;
        z-index: 1;
        a {
            position: relative;
            top: 1.25rem;
            color: $header-text;
            padding: 1.5rem;
            background-color: $main-color;
        }
}

.content {
        position: relative;
        top: 50%;
        right: -50%;
        transform: translate(-50%, -50%);
        &__title {
            color:$header-text;
            font-size: 4rem;
            font-weight: 300;
            padding-top: 4rem;
            text-shadow: 4px 2px 0 rgba(0,0,0,.8);
            font-family: 'Fredericka the Great', cursive;
        }
        &__subtitle {
            color: $subtitle-color;
        }
}
