html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .header
            .menu.text-align
                a(href="#") Home
                a(href="#") Shopping
                a(href="#") Return
                a(href="#") Feedback
            .content.text-align
                h1.content__title  Flix
                p.content__subtitle   Salford Manchester, UK
        .main
            .mainbody
                img(src="hero.jpg", alt="pic", height='100%', width='100%')
                h1 Muhammad Anwar Ahmad

        .footer
            .text-align   Copyright @ 2020
