html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1  Welcome from pug template
        div
            h2  Muhammad Anwar Ahmad
            h3  Manchester